pkgbase = lispium-bin
	pkgdesc = A Symbolic Computer Algebra System written in Zig
	pkgver = 0.14.0
	pkgrel = 1
	url = https://github.com/Tetraslam/lispium
	arch = x86_64
	license = MIT
	provides = lispium
	conflicts = lispium
	source_x86_64 = lispium-bin-0.14.0.tar.gz::https://github.com/Tetraslam/lispium/releases/download/v0.14.0/lispium-linux-x86_64.tar.gz
	sha256sums_x86_64 = 3d711c9f8b13a2d5e0e90f7e36435f3561a815d30ddcdbb6d4614565d4a2887f

pkgname = lispium-bin
