pkgbase = lispium-bin
	pkgdesc = A Symbolic Computer Algebra System written in Zig
	pkgver = 0.5.1
	pkgrel = 1
	url = https://github.com/Tetraslam/lispium
	arch = x86_64
	license = MIT
	provides = lispium
	conflicts = lispium
	source_x86_64 = lispium-bin-0.5.1.tar.gz::https://github.com/Tetraslam/lispium/releases/download/v0.5.1/lispium-linux-x86_64.tar.gz
	sha256sums_x86_64 = c65d6a489f0b82532d7cf6c1f08860372b4799d7764aef7c001784e11908dfde

pkgname = lispium-bin
